// Fonts
$font-text: "DM Sans", sans-serif;
$font-title: "Gallient", sans-serif;
// Colors
$color-text: rgb(54, 54, 54);
$color-link: rgb(54, 54, 54);
$color-red: #6B1C12; 
$color-background: white;
// Resets
$reset-margin: 0;
$reset-padding: 0;
